
.quote-form-title{
    height: auto;
    width: auto;
    // min-width: 20px;
    font-size: 40px;
    // padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner-quote-form{
    width: auto;
    min-width: 5px;
    height: auto;
    font-size: 40px;
}

.inner-quote-source{
    width: auto;
    min-width: 135px;
    height: 60px;
    font-size: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.inner-quote-source:focus{
    outline: none;
}

.quote-form-body{
    height: 80px;
    width: auto;
    background-color: none;
    border: none;
    font-size: 20px;
    padding: 6px 0 6px 0;
    resize: none;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quote-form-title:focus{
    outline: none;
}

.inner-quote-form:focus{
    outline: none;
}

.quote-form-body:focus{
    outline: none;
    
}

.quote-form-body:before{
    content: "- ";
    font-size: 40px;
}

.quote-form-input{
    margin: 10px 0 10px 0;
    padding: 25 0 25px 0;
    width: auto;
    background-color: none;
    border: none;
}

div.quote-form-title:before{
    height: 40px;
    width: 20px;
    content: "\201C";
    z-index: 5;
    color: black;
    font-size: 50px;
}

div.quote-form-title:after{
    height: 40px;
    width: 20px;
    content: "\201D";
    z-index: 5;
    color: black;
    font-size: 50px;
}