
.recommended-container{
    height: 270px;
    width: 99%;
    // border: 2px solid lightblue;
    margin-bottom: 5px;
    margin-top: 15px;
}


.rec-header-text{
    color: whitesmoke;
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(156, 217, 238, 0.2);
}