
.splash-container{
    display: flex;
    width: 100%;
    height: 100%;
  
}

.splash2-box-1{
    width: 800px;
    height: 100px;
    position: relative;

}

.splash2-box-2{
    width: 800px;
    height: 100px;
    position: relative;
}

.splash2-tumbly-header{
    width: 95%;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

.splash2-tumbly-subheader{
    width: 95%;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.splash-1 {
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 17, 65);
    
}
.splash-2 {
    position: absolute;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}



.splash-3 {
    position: absolute;
    z-index: 7;
    width: 100vw;
    height: 100vh;
    background-color: pink;
}

.splash-4 {
    position: absolute;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: green;
}

.splash-5 {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: orangered;
}

.scroll-down {
    animation-name: down;
    animation-duration: 0.7s;
    animation-direction: reverse;
    animation-fill-mode: reverse;
}
.scroll-one {
    position: absolute;
    animation-name: up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.scroll-two {
    position: absolute;
    animation-name: up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.scroll-three {
    position: absolute;
    animation-name: up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.scroll-four {
    position: absolute;
    animation-name: up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.scroll-five {
    position: absolute;
}


@keyframes up {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 1000px;
    }
}
@keyframes down {
    0% {
        top: 0px;
    }
    100% {
        top: -1000px;
    }
}