.hidden{
    display: none;
}

.create-text-form-container{
    background-color: white;
    width: 569px;
    height: 260px;
    z-index: 4;
    /* position: absolute; */
    left: 240px;
    top: 180px;
    margin: 0 auto;
    border-radius: 3px;
}

.text-form-username{
    padding: 6px 0 0 14px;
    width: 100%;
    height: 10%;
    font-size: 17px;
    /* background-color: pink; */
}

.text-form{
    width: 100%;
    height: 90%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.dummy-img{
    width: 120px;
    height: 80px;
}

.form-error{
    margin: 0 0 20px 17px;
    color: rgba(255, 0, 0, 0.6);
    font-weight: 300;
    position: absolute;
}

.image-div{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-input-fields{
    height: 80%;
    width: 100%;
    padding-top: 10px;
    padding-left: 14px;
}

.text-form-title{
    height: 40px;
    background-color: none;
    border: none;
    font-size: 40px;
    margin: 10px 0 10px 0;
    padding: 25 0 25px 0;
}

.text-form-body{
    height: 80px;
    width: 95%;
    background-color: none;
    border: none;
    font-size: 20px;
    padding: 6px 0 6px 0;
    resize: none;
    
}

.text-form-body:focus{
    outline: none;
}

.text-form-caption{
    height: 40px;
    width: 81%;
    background-color: none;
    border: none;
    font-size: 20px;
    margin: 10px 0 25px 0;
    padding: 25 0 25px 0;
}

.text-form-file{
    height: 40px;
    background-color: none;
    border: none;
    font-size: 15px;
    margin: 10px 0 10px 0;
    padding: 25 0 25px 0;
}

.image-preview{
    height: 80px;
    width: auto;
}

.avatar-form-file::-webkit-file-upload-button{
    display: none;
}

.avatar-form-file-2::-webkit-file-upload-button{
    display: none;
}

.avatar-form-file-2:hover, .avatar-form-file:hover{
    background-color: rgba(8, 193, 255, 0.411);
}


.drag-drop-msg{
    right: -183px;
    top: 12px;
    font-size: 16px;
    width: 200px;
    position: relative;
    font-weight: 200;
}

.drag-drop-msg-2{
    right: -153px;
    font-size: 16px;
    position: relative;
    font-weight: 200;
}

.text-form-buttons{
    height: 20%;
    width: 100%;
    /* padding-bottom: 10px; */
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.text-form-close{
    width: 63px;
    height: 40px;
    border-radius: 2px;
    color: rgb(19, 19, 95);
    background-color: rgb(166, 167, 175);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.text-form-submit{
    width: 60px;
    min-height: 40px;
    border-radius: 4px;
    /* padding: 10px; */
    font-size: 16px;
    background-color: rgb(1, 172, 240);
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

input.avatar-form-file{
    margin-top: 25px;
    cursor: pointer;
    width: 300px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: lightgray;
}

input.avatar-form-file-2{
    cursor: pointer;
    width: 200px;
    height: 70px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: lightgray;
}