// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-container{
    // z-index: 4;
    width: 80%;
    height: 500px;
    background-color: pink;
    border-radius: 7px;
}